$color_primary_lighter: #ffffff;
$color_primary: #ffd7d7;
$color_primary_darken: #cba6a6;

$color_secondary_ligther: #ff6a38; 
$color_secondary: #fd2d01;
$color_secondary_darken: #c10000;

$color_tertiary_lighter: #6284E6;
$color_tertiary: #3246A6;
$color_tertiary_darken: #252265;

$special_color: #F9F2D3;
$special_color2: #FFDBAB;