.comment_form_container{
    display: none;
    width: 100%;
    margin: auto;
    margin: 15px 0 0px 0;
    margin-left: auto;

.comment_form_formulaire{
    .comment_content{
        width: 100%;
        min-height: 100px;
        margin: 0;
        position: relative;
        .label_textarea{
            p{
                width: 115px;
                margin-bottom: 5px;
                margin-left: auto;
            }
        }
        .textarea{
            display: block;
            width: 90%;
            min-height: 100px;
            border: 1px solid $color_tertiary;
            border-top: 5px solid $color_tertiary;
    
            margin-left: auto;
            padding: 5px;
            resize: none;
                
        }
    }
}

.button_comment_form_container{
    display: flex;
    flex-direction: row-reverse;
    width: 85%;

    margin: auto;
    margin-top: 15px;
    button{
        background-color: $color_tertiary;
        border: none;
        border-radius: 25px;

        color: white;
        font-size: 13px;
        padding: 10px 25px 10px 25px;


        &:hover{
            transform: scale(1.02);
          }
        &:active{
            background-color: darken($color_tertiary, 1.1);
          }
    }
}
}
