.main_Container{
    display: flex;
    height: 100%;

    .logo{
        width: 150px;
        position: absolute;
        top: -40px;
        left: 20px;
        .icon_logo{
            width: 100%;
        }
    }

    .side_Text{
        height: 100%;
        width: 60%;
        background-color: $special_color;

        .h1_Container{
            text-align: center;
            margin-top: 200px;
            h1{
            margin: 0;

            font-size: 60px;
            color: $color_tertiary;
            }
        }

        .form_Container{
            height: 15%;
            margin-top: 80px;
            input{
                background-color: $color_tertiary;
                color: white;
                
                font-weight: 200;

                &::placeholder{
                    color: white;
                }
            }
        }

        .button_Container{
            text-align: center;
            margin-top: 80px;
            .login_button{
                color: white;

                background-color: $color_tertiary;
                border: 1px solid white;

                &:active{
                    background-color: $color_tertiary_darken;
                }
            }
        }

        .paraf_Container{
            width: 50%;
            margin: auto;
            .login_paraf{
                text-align: center;

                font-size: 15px;
                font-weight: 400;
                color: $color_tertiary;
            }
        }
    }


    .main_Text{
        display: flex;
        justify-content: center;

        height: 100%;
        width: 40%;
        background-color: $color_tertiary;

        .section_Container{
            text-align: center;
            margin-top: 350px;

            h2{
            margin: 0;

            font-size: 60px;
            color: white;
            }
            .Welcome{
                font-size: 30px;

                .Groupomania{
                    color: $color_secondary;
                }
            }

            .button_Container{
                margin-top: 50px;
                .signIn_button{
                    background-color: white;
                    color: $color_tertiary;
                    width: 60%;
                    font-weight: 500;
                    &:active{
                        background-color: black;
                    }
                }
            }
        }

    }
}
