.form_Container{
    height: 35%;
    margin-top: 50px;

    form{
        height: 100%;
        width: 50%;
        margin: auto;

        @media(max-width: 567px){
            width: 80%;
            margin-left: 7%;
        }
    }
    .image_input{
        width: 75px;
        height: 75px;

        margin: auto;

        img{
            height: 100px;
            width: 100px;
            border-radius: 50px;
            border-radius: 50px;
            border: 2px solid black;
            object-fit: cover;
        }

        &:hover{
            opacity: 0.5;
            cursor: pointer;
        }
    }
    .identity_Container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: auto;

        @media(max-width: 1200px){
            display: initial;
        }
        
        margin-top: 40px;
        .identity_form_settings{
            width: 45%;
            height: 60px;

            @media(max-width: 1200px){
                margin-top: 50px;
                width: 100%;
            }
        
        }
    }

    .form_settings{
        height: 60px;

        margin-top: 50px;
    }
    
    .label_display{
        position: relative;
    }
    
    .content_label{
        position: absolute;
        top: -25px;
        border-bottom: 1px solid black;
    }
    
    .input_settings{
        width: 100%;
        height: 100%;

        font-size: 20px;
        padding-left: 20px;

        background-color: #ededed;
        border: none;
    }
}


